.flexRow {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.usersContainer {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: center;
  gap: 1em;
}

.usersContainer div {
  margin: 0;
}
