@import './font.css';

:root {
  /* Colors */
  --clr-primary-400: hsl(203, 39%, 44%);
  --clr-primary-300: hsl(183, 43%, 76%);
  --clr-primary-600: hsl(215, 50%, 23%);

  --clr-neutral-800: hsl(0, 0%, 10%);
  --clr-neutral-600: hsl(0, 0%, 20%);
  --clr-neutral-400: hsl(210, 17%, 95%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-base: 'ClashGrotesk-Regular', sans-serif;
  --ff-mono: 'IBM Plex Mono', monospace;

  --fw-regular: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-400);
  background-color: var(--clr-neutral-800);
}

/*
  * '* + *' is the 'lobotomized owl' selector
  * It selects all elements that have a preceding sibling
  * and adds a top margin to them
  * 
  * The only exception is the editor-container class
  * in order to prevent the margin from being applied to items inside the editor
  * 
  * For more information, see https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
*/
* + *:not(.editor-container *) {
  margin-top: 1.5em;
}
