.frame {
  margin: 0;
}

.checkBoxLabel {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  margin: 8px;
}

.targetOverlayContainer {
  position: relative;
  /* cursor: col-resize; */
  touch-action: none;
  --scale-down: 0.9975;
}

.iframeContainer {
  position: relative;
  height: 300px;
  width: 400px;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
  transition: 0.3s;
}

.imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(0px, 400px, 100%);
  pointer-events: none;
}

.renderFrameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4px;
  border-radius: 5px;
  border: 2px solid #3f3f3f;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flexContainer > p {
  margin: 6px 12px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexRow > p {
  margin: 6px 8px;
}
